.list-item {
  display: flex;
  border: 1px solid #cbd5e1;
  border-top: none;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
}
.items-in-list {
  color: #475569;
  font-size: 15px;
  font-weight: bold;
}
.delete-button {
  background-color: white;
  border: none;
  cursor: pointer;
}
.delete-img {
  height: 20px;
  width: 20px;
}
